@import "settings";
//@import "foundation";

// Or selectively include components
 @import
   "components/accordion",
   "components/alert-boxes",
   "components/block-grid",
   "components/breadcrumbs",
   "components/button-groups",
   "components/buttons",
   "components/clearing",
   "components/dropdown",
   "components/dropdown-buttons",
   "components/flex-video",
   "components/forms",
   "components/grid",
   "components/inline-lists",
   "components/joyride",
   "components/keystrokes",
   "components/labels",
   "components/magellan",
   "components/orbit",
   "components/pagination",
   "components/panels",
   "components/pricing-tables",
   "components/progress-bars",
   "components/reveal",
   "components/side-nav",
   "components/split-buttons",
   "components/sub-nav",
   "components/switches",
   "components/tables",
   "components/tabs",
   "components/thumbs",
   "components/tooltips",
   "components/top-bar",
   "components/type",
   "components/offcanvas",
   "components/visibility";





//-----------------------------------------------
// GLOBAL NAV
//-----------------------------------------------

.global-nav {
    height: 102px;
    border-bottom: 1px solid $stroke-gray;
    color: $stroke-gray;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 102px;
    text-align: center;   
}





//-----------------------------------------------
// STORY INTRO 1
//-----------------------------------------------

.story-intro-1 {
    height: 348px;
    border-bottom: 1px solid $stroke-gray;
    
    .story-intro-1__copy {
        height: 348px;
        background-color: $background-gray;
        padding: 90px 0;
        
        .story-intro-1__copy--title {
            font-family: "Sofia Pro";
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 36px;
            line-height: 42px;
            color: $black-1;
            margin-bottom: 12px;
        }
        
        .story-intro-1__copy--dek {
            float: left;
            font-weight: 500;
            letter-spacing: 1px;
            color: $black-1;
            line-height: 20px;
        }
    }
    
    .story-intro-1__image {
        height: 348px;
        font-size: 1px;
        background-image: url("/assets/img__story-intro.jpg");
        background-size: cover;
        background-position: center;
    }
}





//-----------------------------------------------
// PRODUCT GRID
//-----------------------------------------------

.product-grid {
    margin-top: 60px;
    
    >div {
        
        >ul {

            >li {
                
                >div {
                    background-color: $background-gray;
                    height: 348px;
                }
            }
        }
    }
    
}