@import "settings";
//@import "foundation";

// Or selectively include components
 @import
   "components/accordion",
   "components/alert-boxes",
   "components/block-grid",
   "components/breadcrumbs",
   "components/button-groups",
   "components/buttons",
   "components/clearing",
   "components/dropdown",
   "components/dropdown-buttons",
   "components/flex-video",
   "components/forms",
   "components/grid",
   "components/inline-lists",
   "components/joyride",
   "components/keystrokes",
   "components/labels",
   "components/magellan",
   "components/orbit",
   "components/pagination",
   "components/panels",
   "components/pricing-tables",
   "components/progress-bars",
   "components/reveal",
   "components/side-nav",
   "components/split-buttons",
   "components/sub-nav",
   "components/switches",
   "components/tables",
   "components/tabs",
   "components/thumbs",
   "components/tooltips",
   "components/top-bar",
   "components/type",
   "components/offcanvas",
   "components/visibility";





//-----------------------------------------------
// GLOBAL NAV
//-----------------------------------------------

.global-nav {
    height: 42px;
    border-bottom: 1px solid $stroke-gray;
    color: $stroke-gray;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 42px;
    text-align: center;
    @media #{$medium-up}{
        height: 102px;
        line-height: 102px;
}
}





//-----------------------------------------------
// STORY INTROS
//-----------------------------------------------

.story-intro__container {
	height: 348px;
}

.story-intro__title {
	font-family: "Sofia Pro";
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@media #{$medium-only} {
		font-size: 30px;
		line-height: 30px;
	}
}

.story-intro__dek {
	font-family: $font-family-serif;
	font-size: 18px;
	line-height: 24px;
	@media #{$medium-only} {
		font-size: 16px;
		line-height: 20px;
	}
}

.story-intro__copy--accordion {
    > a {
        font-family: "Sofia Pro";
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $black-1;
        text-align: center;
        background: $white;
    }
	
    > div {
        text-align: center;
		font-family: $font-family-serif;
		font-size: 18px;
		line-height: 24px;
		color: $gray-2;
        
    }
}

.story-intro-1 {
	background-color: #F2E7D4;
	
	.story-intro-1__copy {
		height: 348px;
		padding: 5% 0;
		@media #{$medium-only} {
			padding: 6% 0;
		}
		
		.story-intro-1__copy-container {
			padding: 6% 0;
			@media #{$medium-only} {
				padding: 12% 0;
			}
		}
	}
	
	.story-intro-1__img{
		height: 348px;
		background-image: url(../assets/img__story-intro-1.jpg);
    	background-size: cover;
    	background-position: center;
	}
}


.story-intro-2 {
	background-color: #fff7f6;
	
	.story-intro-2__copy {
		height: 348px;
		padding: 6% 0;
		@media #{$large-up} {
			padding: 3% 0;
		}
		
		.story-intro-2__copy-container {
			padding: 9% 0;
			text-align: center;
			@media #{$small-up} {
				padding: 3% 0;
			}
			@media #{$large-up} {
				padding: 3% 0;
			}
			
			.story-intro-2__title {
				font-size: 30px;
				line-height: 30px;
				letter-spacing: 1.5px;
				color: #c38b84;
				margin-bottom: 12px;
				@media #{$small-up} {
					font-size: 36px;
					line-height: 36px;
				}
			}
			
			.story-intro-2__dek {
				font-size: 18px;
				line-height: 24px;
				@media #{$small-up} {
					font-size: 22px;
					line-height: 30px;
				}
			}
			
		}
	}
}

.story-intro-3 {
	background-color: $black-1;
	
	.story-intro-3__copy {
		padding: 5% 0;
		color: $white;
		@media #{$medium-only} {
			padding: 6% 0;
		}
		
		.story-intro-3__copy-container {
			padding: 3% 0;
			@media #{$medium-only} {
				padding: 12% 0;
			}
		}
	}

	.story-intro-3__img{
		height: 348px;
		background-image: url(../assets/img__story-intro-3.jpg);
    	background-size: cover;
    	background-position: center;
		line-height: 348px;
		text-align: center;
	}

	.story-intro-3__video {
		display: none;
		height: 540px;
		background-color: $black-1;
		padding: 30px 0;
		
		> a {
			position: absolute;
			margin-left: 10px;
		}
	}
}





//-----------------------------------------------
// PRODUCT GRID
//-----------------------------------------------

.product-grid {
    margin-top: 12px;
    @media #{$small-only}{
        margin-top: 30px;
    }
    @media #{$medium-up}{
        margin-top: 42px;
    }
    
    >div {
        
        >ul {

            >li {
                
                >div {
                    background-color: $background-gray;
                    height: 158px;
                    @media #{$small-only}{
                        height: 255px;
                    }
                    @media #{$medium-only}{
                        height: 340px;
                    }
                    @media #{$large-up}{
                        height: 460px;
                    }
                }
            }
        }
    }
    
}