@import "settings";
//@import "foundation";

// Or selectively include components
 @import
   "components/accordion",
   "components/alert-boxes",
   "components/block-grid",
   "components/breadcrumbs",
   "components/button-groups",
   "components/buttons",
   "components/clearing",
   "components/dropdown",
   "components/dropdown-buttons",
   "components/flex-video",
   "components/forms",
   "components/grid",
   "components/inline-lists",
   "components/joyride",
   "components/keystrokes",
   "components/labels",
   "components/magellan",
   "components/orbit",
   "components/pagination",
   "components/panels",
   "components/pricing-tables",
   "components/progress-bars",
   "components/reveal",
   "components/side-nav",
   "components/split-buttons",
   "components/sub-nav",
   "components/switches",
   "components/tables",
   "components/tabs",
   "components/thumbs",
   "components/tooltips",
   "components/top-bar",
   "components/type",
   "components/offcanvas",
   "components/visibility";





//-----------------------------------------------
// GLOBAL NAV
//-----------------------------------------------

.global-nav {
    height: 42px;
    border-bottom: 1px solid $stroke-gray;
    color: $stroke-gray;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 42px;
    text-align: center;
    @media #{$medium-up}{
        height: 102px;
        line-height: 102px;
}
}





//-----------------------------------------------
// STORY INTRO 1
//-----------------------------------------------

.story-intro-1 {
	height: 348px;
	background-color: $background-gray;
	border-bottom: 1px solid $stroke-gray;
	
	.story-intro-1__copy {
		height: 348px;
		padding: 5% 0;
		@media #{$medium-only} {
			padding: 6% 0;
		}
		
		.story-intro-1__copy-container {
			padding: 6% 0;
			@media #{$medium-only} {
				padding: 12% 0;
			}
		
			.story-intro-1__title {
				font-family: "Sofia Pro";
				font-weight: 500;
				font-size: 36px;
				line-height: 36px;
				margin-bottom: 12px;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				@media #{$medium-only} {
					font-size: 30px;
					line-height: 30px;
				}
			}
			
			.story-intro-1__dek {
				font-family: $font-family-serif;
				font-size: 18px;
				line-height: 24px;
				color: $gray-2;
				@media #{$medium-only} {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
	
	.story-intro-1__img{
		height: 348px;
		background-image: url(../assets/img__story-intro.jpg);
    	background-size: cover;
    	background-position: center;
	}
}

.story-intro-1__copy--accordion {
    > a {
        font-family: "Sofia Pro";
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $black-1;
        text-align: center;
        background: $white;
    }
    > div {
        text-align: center;
		font-family: $font-family-serif;
		font-size: 18px;
		line-height: 24px;
		color: $gray-2;
        
    }
}




//-----------------------------------------------
// PRODUCT GRID
//-----------------------------------------------

.product-grid {
    margin-top: 12px;
    @media #{$small-only}{
        margin-top: 30px;
    }
    @media #{$medium-up}{
        margin-top: 42px;
    }
    
    >div {
        
        >ul {

            >li {
                
                >div {
                    background-color: $background-gray;
                    height: 158px;
                    @media #{$small-only}{
                        height: 255px;
                    }
                    @media #{$medium-only}{
                        height: 340px;
                    }
                    @media #{$large-up}{
                        height: 460px;
                    }
                }
            }
        }
    }
    
}